.pageWrapper {
  display: flex;
  background-color: #fff;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding-left: 25px;
}

.inputField {
  padding: 10px;
  margin: 10px 10px;
  border: 1px solid #2f4f4f;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.inputField:focus {
  outline: none;
}

.formWrapper {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 350px;
}

.button {
  padding: 10px;
  margin: 10px 10px;
  border: none;
  background-color: #2f4f4f;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  width: 200px;
}

.button:hover {
  border: 1px solid #2f4f4f;
  background-color: #fff;
  color: #2f4f4f;
}

.headerLogo {
  padding-left: 15px;
  padding-top: 15px;
}
